
<div class="container">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Sign Up</h1>
    <%= form_for :user, url: {action: "create"} do |f| %>
      <p>
        <%= f.label 'username:' %><br/>
        <%= f.text_field :username, class: "form-control" %>
      </p>
      <p>
        <%= f.label 'email:' %><br/>
        <%= f.text_field :email, class: "form-control" %>  </p>
      <p>
        <%= f.label 'password:' %><br/>
        <%= f.password_field :password, class: "form-control"%>
      </p>
      <p>
        <%= f.label 'password confirmation:' %><br/>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </p>
      <p>
        <%= f.submit 'Sign Up', class: "btn btn-success" %>&nbsp;&nbsp;&nbsp;
        <%= f.submit 'Clear Form', class: "btn btn-default", :type => 'reset' %>
      </p>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>