<div class="container">
	<div class="col-md-6">
		<img src="/logo.jpg" class="img-rounded" alt="Responsive image">
		<p>Here you can see all of the events hosted at our site!</p>
		<%= button_to "Festivals", event_specific_path(0), {class: "btn btn-default", style: "float:left", method: :get} %>
		<%= button_to "Concerts", event_specific_path(1), {class: "btn btn-default", style: "float:left", method: :get} %>
		<% if !current_user %><%= button_to "Login", signin_path(), {class: "btn btn-success", style: "float:left", method: :get} %> 
		<%= button_to "Sign up", new_user_path(), {class: "btn btn-primary", method: :get} %> <%end%>
		<% if current_user %> <%= button_to "Logout", signout_path(), {class: "btn btn-danger", method: :delete} %> <%end%>

		<table class="table table-hover">
			<thead c>
				<tr>
					<th>Nafn</th>
					<th>Lýsing</th>
					<th>Tegund</th>
					<th>Lausir miðar</th>
					<th>Verð</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
				<tr onClick="javascript:location.href='<%= event_path(event.form, event.id) %>'" class="cursor-pointer">
					<td><%= link_to event.name, event_path(event.form,event.id), { method: :get } %></td>
					<td><%=event.description%></td>
					<td>
					<% if event.form == 0 %>Útihátíð
					<% elsif event.form == 1%>Tónleikar
					<%end%></td>
						
					<td><%=event.available%></td>
					<td><%=event.price%></td>
					<td><%= button_to "Buy ticket", event_purchase_path(event.form,event.id), {class: "btn btn-default", method: :get} %></td>
				</tr>
				<% end %>
		</tbody>
		</table>
	</div>
</div>