<div class="container">
	<div class="col-md-6">
		<h1>Welcome to Betrimidi.is</h1>
		<p>Here you can see all of the events hosted at our site!</p>

		<table class="table table-hover">
			<thead c>
				<tr>
					<th>Nafn</th>
					<th>Lýsing</th>
					<th>Tegund</th>
					<th>Verð</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
				<tr onClick="javascript:location.href='<%= event_path(event.id) %>'" class="cursor-pointer">
					<td><%= link_to event.name, event_path(event.id), { method: :get } %></td>
					<td><%=event.description%></td>
					<td>
					<% if event.form == 0 %>Útihátíð
					<% elsif event.form == 1%>Tónleikar
					<%end%></td>
						
					<td><%=event.price%></td>
					<td><%= button_to "Buy ticket", event_purchase_path(event.id), {class: "btn btn-default", method: :get} %></td>
				</tr>
				<% end %>
		</tbody>
		</table>
	</div>
</div>