
<div class="container">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>New Event</h1>
    <%= form_for :event, url: {action: "create"}, html: {:multipart => true} do |f| %>
      <p>
        <%= f.label 'name:' %><br/>
        <%= f.text_field :name, class: "form-control" %>
      </p>
      <p>
        <%= f.label 'description:' %><br/>
        <%= f.text_field :description, class: "form-control" %>  </p>
      <p>
        <%= f.label 'price:' %><br/>
        <%= f.text_field :price, class: "form-control"%>
      </p>
      <p>
        <%= f.label 'form:' %><br/>
        <%= f.text_field :form, class: "form-control" %>
      </p>
      <p>
        <%= f.label 'tickets:' %><br/>
        <%= f.text_field :tickets, class: "form-control" %>
      </p>
      <p>
        <%= f.label 'available:' %><br/>
        <%= f.text_field :available, class: "form-control" %>
      </p>
      <p>
        <%= f.file_field :photo %>
      </p>
      <p>
        <%= f.submit 'Create', class: "btn btn-success" %>&nbsp;&nbsp;&nbsp;
        <%= f.submit 'Clear Form', class: "btn btn-default", :type => 'reset' %>
      </p>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>