<div class="container">
	<div class="col-md-6">
		<h1><% if @form == 0%>Festivals <%elsif @form == 1%>Concerts <%end%> </h1>
		<p>Here you can see all concerts hosted</p>

		<table class="table table-hover">
			<thead c>
				<tr>
					<th>Nafn</th>
					<th>Lýsing</th>
					<th>Verð</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |event| %>
				<tr onClick="javascript:location.href='<%= event_path(event.form, event.id) %>'" class="cursor-pointer">
					<td><%= link_to event.name, event_path(event.form,event.id), { method: :get } %></td>
					<td><%=event.description%></td>
						
					<td><%=event.price%></td>
					<td><%= button_to "Buy ticket", event_purchase_path(event.form,event.id), {class: "btn btn-default", method: :get} %></td>
				</tr>
				<% end %>
		</tbody>
		</table>
	</div>
</div>