<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Miðaveitan", root_path(), {class: "navbar-brand", method: :get} %> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Festivals", event_specific_path(0), {method: :get} %>
                    </li>
                    <li><%= link_to "Concerts", event_specific_path(1), {method: :get} %>
                    </li>
                    <!--<li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>-->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <% if !current_user %>
                        <li><%= link_to "Login", signin_path(), {style: "float:left", method: :get} %> 
                        </li>
                        <li><%= link_to "Sign up", new_user_path(), {method: :get} %>
                        </li> 
                    <%end%>
                    <% if current_user %> 
                        <li><%= link_to "My account", users_path(), {style: "float:left", method: :get} %> 
                        </li>
                        <li><%= link_to "Logout", signout_path(), {method: :delete} %> 
                        </li>
                    <%end%>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>